<ol class="breadcrumb">
  <li>{{#link-to "group" model.slug}}{{model.title}}{{/link-to}}</li>
  <li class="active">{{if model.isNew (t "add") (t "edit")}} {{model.sport.groupLabel}}</li>
</ol>

{{group-form group=model save="save" isSaving=isSaving}}
