<div class="row">
	<div class="col-md-10 text-center" style="margin-top: 200px; color: #555;">
		{{ui-icon icon="spinner fa-pulse fa-3x fa-fw"}}
	</div>

	<div class="col-md-2">
		{{sport-nav sport=model}}
	</div>
</div>
