<div class="row">
	<div class="col-md-10">
		<p class="trixionary-intro">{{t "intro" sport=model.title skills=model.skillPluralLabel groups=model.groupPluralLabel}}</p>

	</div>

	<div class="col-md-2">
		{{trixionary-sport-nav sport=model}}
	</div>
</div>
