@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
	min-height: 100%;
	height: 100%;
}

.navbar-dev {
	margin-top: 0;
	margin-bottom: 0;
}

.trixionary-header {
	padding-top: 16px;
	padding-bottom: 16px;

	.trixionary-toolbar {
		margin-top: 25px;

		a:hover, a:active, a:focus {
			outline: none;
			text-decoration: none;
		}
	}

	.nav {
		padding-left: 16px;

		a:focus {
			outline: none;
		}
	}
}

.trixionary-intro {
	margin-top: 20px;
}

.trixionary-body {
	margin-top: -16px;

	.breadcrumb {
		background-color: transparent;
		padding-left: 0;
	}
}

.form-horizontal .control-label {
    text-align: left;
}

.control-label-checkbox {
    font-weight: normal !important;
}

.row-rotation {
	height: 32px;
}

.trixionary-upload-preview {
	max-width: 100px;
	max-height: 100px;
}

.trixionary-upload-progress {
	margin-top: 5px;
	height: 5px;
}

.picture {
	display: block;
	cursor: pointer;
	border: 1px solid #000;

	&-xl {
		max-width: 150px;
		max-height: 150px;
	}

	&-lg {
		max-width: 125px;
		max-height: 125px;
	}

	&-md {
		max-width: 100px;
		max-height: 100px;
	}

	&-sm {
		max-width: 75px;
		max-height: 75px;
	}

	&-xs {
		max-width: 50px;
		max-height: 50px;
	}
}

@import "components/skill-listing";
@import "components/skill";
@import "components/skill-gallery";
@import "components/graph";

// fix components stuff
.ember-power-select-trigger {
	height: 30px;
    position: relative;
	overflow-y: hidden;
	text-overflow: ellipsis;
}

.ember-power-select-dropdown {
	width: 100%;
}

.trixionary-dialog {
	padding: 0;
	border-radius: 4px;
	min-width: 350px;

	.panel-footer {
		height: 54px;
	}

	.btn {
		margin-left: 5px;
	}
}

.trixionary-body {
	.breadcrumb {
		background-color: transparent;
	}
}
