.trixionary-actions {
  margin-top: 25px;
}
.control-label-checkbox {
  font-weight: normal !important;
}
.control-label-top {
  padding-top: 2px !important;
}
input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: none;
}
.skill h2 {
  margin-top: 0;
}
.rotation-col label {
  margin-top: 4px;
}
div[role=tabpanel] {
  margin-top: 15px;
}
.info-box {
  padding: 5px;
}
.info-box ul,
.info-box dl {
  margin-bottom: 0;
}
.info-box td {
  vertical-align: top;
}
.info-box td:first-child {
  font-weight: 600;
  padding-right: 5px;
}
.info-box li {
  white-space: nowrap;
}
.details {
  width: 100%;
}
.details td:first-child {
  width: 35%;
  vertical-align: top;
}
.skill-picture {
  /*border: 1px solid #AAA;*/
}
.part-text {
  vertical-align: baseline;
  line-height: 50px;
}
.part-box {
  border: 1px solid #CCC;
  background-color: #F5F5F5;
  width: 200px;
}
.part-box .skill-picture {
  margin-right: 5px;
}
.part-item {
  padding: 5px;
  margin-right: 5px;
}
.graph-widget {
  position: relative;
  background-color: #FFF;
}
.graph-widget,
.graph-widget .canvas {
  width: 100%;
  height: 500px;
}
.graph-widget.skill,
.graph-widget.skill .canvas {
  height: 300px;
}
.graph-widget.fullscreen {
  height: 100%;
}
.graph-widget.fullscreen .canvas {
  height: 100%;
}
.graph-widget.fullscreen .controls {
  top: 20px;
  right: 20px;
}
.graph-widget.fullscreen .info {
  left: 20px;
}
.graph-widget .info {
  position: absolute;
  top: 20px;
  width: 225px;
  padding: 5px;
  border: 1px solid #AAA;
  background-color: #F0F0F0;
  font-size: 80%;
}
.graph-widget .info p {
  margin: 0;
}
.graph-widget .info .description {
  margin: 5px 0;
}
.graph-widget .controls {
  position: absolute;
  top: 0;
  right: 0;
}
.graph-widget div.network-navigation {
  background: none !important;
  border: 0;
}
.graph-widget div.network-navigation .navigation-icon {
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 16px;
  width: 32px;
  height: 32px;
  margin-left: 2px;
  margin-top: 2px;
  padding-left: 6px;
  padding-top: 2px;
  font-size: 17px;
  color: #777;
  border-color: #777;
}
.graph-widget div.network-navigation:hover {
  box-shadow: none;
}
.graph-widget div.network-navigation:hover:before {
  box-shadow: 0px 0px 3px 3px #EEE;
}
.graph-widget div.network-navigation.down::before {
  content: "";
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 16px;
  width: 32px;
  height: 32px;
  margin-left: 2px;
  margin-top: 2px;
  padding-left: 6px;
  padding-top: 2px;
  font-size: 17px;
  color: #777;
  border-color: #777;
  width: 31px;
  height: 31px;
}
.graph-widget div.network-navigation.up::before {
  content: "";
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 16px;
  width: 32px;
  height: 32px;
  margin-left: 2px;
  margin-top: 2px;
  padding-left: 6px;
  padding-top: 2px;
  font-size: 17px;
  color: #777;
  border-color: #777;
  width: 31px;
  height: 31px;
  padding-left: 5px;
  padding-top: 1px;
}
.graph-widget div.network-navigation.left::before {
  content: "";
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 16px;
  width: 32px;
  height: 32px;
  margin-left: 2px;
  margin-top: 2px;
  padding-left: 6px;
  padding-top: 2px;
  font-size: 17px;
  color: #777;
  border-color: #777;
}
.graph-widget div.network-navigation.right::before {
  content: "";
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 16px;
  width: 32px;
  height: 32px;
  margin-left: 2px;
  margin-top: 2px;
  padding-left: 6px;
  padding-top: 2px;
  font-size: 17px;
  color: #777;
  border-color: #777;
}
.graph-widget div.network-navigation.zoomIn::before {
  content: "+";
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 16px;
  width: 32px;
  height: 32px;
  margin-left: 2px;
  margin-top: 2px;
  padding-left: 6px;
  padding-top: 2px;
  font-size: 17px;
  color: #777;
  border-color: #777;
}
.graph-widget div.network-navigation.zoomOut::before {
  content: "−";
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 16px;
  width: 32px;
  height: 32px;
  margin-left: 2px;
  margin-top: 2px;
  padding-left: 6px;
  padding-top: 2px;
  font-size: 17px;
  color: #777;
  border-color: #777;
}
.graph-widget div.network-navigation.zoomExtends::before {
  content: "";
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 16px;
  width: 32px;
  height: 32px;
  margin-left: 2px;
  margin-top: 2px;
  padding-left: 6px;
  padding-top: 2px;
  font-size: 17px;
  color: #777;
  border-color: #777;
}
#progress {
  margin-top: 5px;
  height: 5px;
}
.upload-box label {
  vertical-align: middle;
  line-height: 34px;
}
.upload-box .col-md-6 {
  margin-bottom: 15px;
}
.preview {
  max-width: 125px;
  max-height: 125px;
  border: 1px solid #000;
}
.preview-sm {
  max-width: 75px;
  max-height: 75px;
  border: 1px solid #000;
}
.preview-xs {
  max-width: 50px;
  max-height: 50px;
  border: 1px solid #000;
}
figure.media > .preview {
  border-color: #DDD;
}
figure.media > .preview:hover {
  background-color: #EEE;
}
.media-preview {
  width: 125px;
  height: 125px;
  box-sizing: content-box;
}
.media-preview img {
  float: right;
}
.media-preview-sm {
  width: 75px;
  height: 75px;
  box-sizing: content-box;
}
.media-preview-sm img {
  float: right;
}
.media-preview-xs {
  width: 50px;
  height: 50px;
  box-sizing: content-box;
}
.media-preview-xs img {
  float: right;
}
.references {
  list-style: none;
  padding-left: 0;
}
.references > li {
  margin-left: 40px;
  text-indent: -40px;
}
.gallery figure {
  margin-top: 10px !important;
  max-height: 150px;
  float: left;
}
.gallery .preview {
  display: block;
  cursor: pointer;
}
.gallery-videos .preview,
.gallery-videos .media-left .title {
  max-width: 225px;
  max-height: 150px;
}
.gallery-pictures .preview,
.gallery-pictures .media-left .title {
  max-width: 150px;
  max-height: 150px;
}
.gallery .media-left .title {
  font-size: small;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.gallery .movender,
.gallery .photographer {
  font-size: smaller;
  color: #777;
  display: block;
}
.gallery .description {
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.gallery-details .media-left .title {
  display: none;
}
.gallery-details .media-body {
  display: table-cell;
}
.gallery-details figure {
  margin-right: 15px;
}
.gallery-details.gallery-videos figure {
  width: 45%;
  margin-right: 5%;
}
.gallery-details.gallery-pictures figure {
  width: 30%;
  margin-right: 3%;
}
.gallery-list .media-left .title {
  display: inline-block;
}
.gallery-list .media-body {
  display: none;
}
.switcher {
  margin-top: 20px;
}
.geneaology {
  padding-left: 20px;
}
.spin {
  animation: spin 2s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.outline-icon {
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
}
.manipulation-icon {
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 11px;
  width: 21px;
  height: 21px;
  padding-left: 3px;
}
.structure .btn-edit {
  margin-top: 21px;
}
.structure .network-manipulation-closeDiv {
  display: none !important;
}
.structure div.network-manipulationDiv {
  background: none;
  border: 0;
}
.structure div.network-seperatorLine {
  margin: 5px 7px 0px 7px;
}
.structure span.network-manipulationLabel {
  line-height: 25px;
  margin: 0px 0px 0px 5px;
  vertical-align: 1px;
}
.structure span.network-manipulationUI {
  background: none !important;
  margin: -14px 0px 0px 0px;
  padding: 0;
}
.structure span.network-manipulationUI:hover {
  box-shadow: none;
}
.structure span.network-manipulationUI.add::before {
  content: "+";
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 11px;
  width: 21px;
  height: 21px;
  padding-left: 3px;
}
.structure span.network-manipulationUI.connect::before {
  content: "";
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 11px;
  width: 21px;
  height: 21px;
  padding-left: 3px;
}
.structure span.network-manipulationUI.edit::before {
  content: "✏";
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 11px;
  width: 21px;
  height: 21px;
  padding-left: 3px;
}
.structure span.network-manipulationUI.delete::before {
  content: "";
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 11px;
  width: 21px;
  height: 21px;
  padding-left: 3px;
}
.structure span.network-manipulationUI.back::before {
  content: "";
  text-indent: -1px;
  display: inline-block;
  border: 2px solid #000;
  font-family: "Glyphicons Halflings";
  border-radius: 11px;
  width: 21px;
  height: 21px;
  padding-left: 3px;
}
.legend p {
  margin: 0;
  font-weight: bold;
}
.legend span {
  display: inline-block;
  width: 27px;
  height: 16px;
  vertical-align: sub;
}
