{% extends "frame.twig" %}

{% block main %}
<h2>{{ trans('help')|capitalize }}</h2>

<p>This will become the help section for the Trixionary. It still needs to be determined how this section can be formed to best help people.
Feel free to volunteer and send some <a href="{{ locations.info }}">feedback</a>.</p>

{% endblock %}